.DS_Store
*.o
*Cint.h
*Cint.cxx
*Cint.cc
.depend
*.rootmap
*.so
*.dylib
*.root
*.bin
*.dat
*.info
*~
*.pcm
*.swp
*.swo
*Dict.cxx
*.ipynb_checkpoints
Example/*
Misc
*/*/Plots/*.png
*/*/*.png
*.txt
*.log
Plots/*.png
*.png
*.C
*.C
DataMCCompare/*
*.pyc
*/*.ipynb
*/*/*.ipynb
*/*/*/*.ipynb
*/*/*/*/*.ipynb
*.pdf
AnsQuestions/
SystematicError/arxiv/
MCC82_FinalPlots/GoldenPi0Plots/
